.inactive{
    opacity: 0.5;
    text-decoration-line: line-through;
}

.todo-list input{
    margin-right: 10px;
}

.todo-list{
    padding: 0;
    width: 90%;
    margin: auto;
}

.todo-list li{
    line-height: 50px;
    border-bottom: 1px solid #ddd;
}

.Todo {
    width: 50%;
    position: relative;
    margin: 0px auto;
    padding-top: 50px;
}

.red{
    color: red;
}

.green{
    color:green;
}

.removeBtn{
    float: right;
    padding: 0 10px;
    cursor: pointer;
}

.error{
    position: absolute;
    top: 15px;
}